# Build artefacts
**/bin/
**/obj/

# Visual Studio
.vs/
*.user
*.suo

# Rider
.idea/

# .NET
*.dll
*.exe
*.pdb

# MAUI
*.xamarin.*
**/platforms/

# Local secrets
.env
.env.*

# OneDrive/temp
~\$*

# IDE settings
*.userprefs

# Logs
*.log

# npm
node_modules/

# Docker
docker-compose.override.yml
*.dockerfile

# Coverage
coverage.*.xml
conviver.API/conviver.db
